pandas==1.1.5
appdirs==1.4.3
MarkupSafe==1.1.1
click==6.7
Flask==0.12
itsdangerous==0.24
Jinja2==2.9.5
packaging==16.8
pyparsing==2.2.0
six==1.10.0
Werkzeug==0.11.15
SQLAlchemy==1.4.40
numpy==1.19.5
matplotlib==3.3.4
scipy==1.5.4
plotly==5.10.0