{% extends 'base.html' %}

{% block body %}

<h1>{{ the_title }}</h1>

<br>
<ul>
  <li><a href="{{ url_for('index') }}">Home Page</a></li>
  <li><a href="{{ url_for('calculate') }}">Calculate another dataset</a></li>
</ul>
<br>
<br>
<h2>Uh-oh!</h2>

<p>
    It looks like there was an error in the chi-squared test--what I like to call a <em>chi-squerror</em>. If you're seeing this, either:
    <br>
    <li>A small dataset is used that doesn't have enough info to include every leading digit, or your column specified </li>
    <li>Incorrect column was selected, which contains not numbers</li>
    <br>
    <br>
    Remember: A large sample size is important.
</p>

{% endblock %}